* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* header */

.header {
  background-color: #415fce;
  display: flex;
  justify-content: space-between;
  height: 139px;
  align-items: center;
  padding: 0 50px;
}

.header .titulo h2 {
  font-size: 64px;
  font-weight: 400;
  color: black;
}

.header .botao button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 60px;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  background-color: #1F9B5F;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}

.header .botao button img {
  height: 40px;
}

/* botão adicionar */

.btn-adicionar {
  display: block;
  margin: 40px auto;
  width: 1750px;
  max-width: 100%;
  height: 100px;
  background-color: #1F9B5F;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 40px;
}

/* cards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.card {
  width: 320px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

/* ---- PARTE DE CIMA ---- */

.parte-cima {
  position: relative;
}

.foto {
  height: 400px;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.açoes {
  position: absolute;
  top: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.açoes .ranking p {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 4px 12px;
  color: black;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  border-radius: 50px;
  border: none;
  background-color: transparent;
  margin-right: 5px;
}

.açoes button img {
  height: 43px;
  cursor: pointer;
}

/* ---- PARTE DE BAIXO ---- */

.parte-baixo {
  background-color: #2c3a6b;
  color: white;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.descricao {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  flex-grow: 1;
}

.descricao h2 {
  color: #8CBF26;
  font-size: 36px;
  font-weight: 700;
}

.descricao h3 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.descricao p {
  color: #FFFFFF;
  font-size: 14px;
  line-height: 1.5;
}

.descricao p.preco {
  color: #8CBF26;
  font-size: 1.7rem;
  font-weight: 700;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

/* footer */

.footer {
  background-color: #fcf7f8;
  font-family: "Inter", sans-serif;
}

.footer .informacoes {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.footer .info1,
.footer .info2 {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 6px;
  max-width: 215px;
}

.footer .info1 h2,
.footer .info2 h2 {
  color: #4e8098;
  font-weight: 500;
}

.footer .info1 p,
.footer .info2 p {
  color: #274553;
  font-weight: 400;
}

.footer a {
  text-decoration: none;
}

.redes {
  margin-top: 7px;
}

.final {
  background-color: #415fce;
  display: flex;
  justify-content: center;
  height: 34px;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
